body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background: white /*#f2f4f7;*/
}

/* Quitar subrayado de los títulos del índice */
a { text-decoration:none; } /* color: #2196f3; font-size:18px; */
a:hover { text-decoration:underline; }

/* ===== PESTAÑAS ===== */
.tabs {
  display: flex;
  gap: 4px;
  border-bottom: 1px solid #295a95;
  padding: 10px 10px 0;
}

.tab {
  padding: 10px 18px;
  border: 1px solid #b4beca;
  border-bottom: none;
  background: #e2e7ed;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
}

.tab:hover {
    background: #c6c9ce;
  }

.tab.active {
  border: 1px solid #295a95;
  border-bottom: #f6f9fb;
  background: #f6f9fb;
  font-weight: 600;
  position: relative;
  top: 2px;
}

/* ===== TOOLBARS ===== */
.toolbar {
  display: none !important;
  gap: 8px;
  padding: 10px;
  background: #f6f9fb; /*color barra*/
  border-bottom: 1px solid #e2e7ed;
}

.separator { /* ==== SEPARADOR PESTAÑA SELECCIÓN ==== */
  width: 1px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 10px;
}

.separator1 { 
  width: 1px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 10px;
}

.acciones-seleccion {
  display: flex;
  gap: 6px;
}

.toolbar.active {
  display: flex !important;
}

.toolbar button {
  padding: 7px 14px;
  border: 1px solid #bfc7d1;
  background: white; /*color botones*/
  border-radius: 4px;
  cursor: pointer;
}
.secondary { background:#2196f3; color:white; }
.primary { background:#4caf50; color:white; }
.danger { background:#f44336; color:white; }

/* ===== CONTENIDO ===== */
.tab-content {
  display: none;
  padding: 20px;
}

/*.score svg {
  width: 100% !important;
}*/

.tab-content.active {
  display: block;
}

#score,
.score {margin: 0px -40px} /*margen partituras*/

/* ========== Estilo Clasificación INDICE ========== */
#lista h3 {
  border-left: 5px solid #2196f3;
  padding: 6px 10px;
  margin-top: 22px;
  margin-bottom: 10px;
  margin-left: -20px;
  background-color: #eef6ff;
  font-weight: 600;
}

#lista h4 {
  margin-left: -5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* font-size: 0.9em; */
}

#lista li {margin-left: 15px} /*margen etiquetas indice*/
/* ==========  ========== */

/* estilo pestaña mostrar en índice 

#filtro-categorias {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#filtro-categorias button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 6px;
}

#filtro-categorias button.active {
  background: #2196f3;
  color: white;
  border-color: #2196f3;
}*/


/* ====== Estilo2 menú mostrar ====== */
/*#toolbar-indice {
  display: flex;
  align-items: center;
  gap: 10px;
}*/

.dropdown {
  position: relative;
  /*display: inline-block;
  margin-bottom: 10px;*/
}

#btnFiltro {
  padding: 7px 13px;
  cursor: pointer;
  /*añadido*/
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  min-width: 180px;
  z-index: 10;
  border-radius: 6px;
  overflow: hidden;
}

.dropdown-content div {
  padding: 8px;
  cursor: pointer;
}

.dropdown-content div:hover {background-color: #f0f0f0}
/* ======  ====== */

/* ======== BUSCADOR ======== */
#buscador {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
/*#buscador {margin-left: auto }*/

/* ========  ======== */


/* ===== Boton cruz - quitar partitura ====== */
/*button.remove {
  background: #eee;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

button.remove:hover {
  background: #f44336;
  color: white;
}*/
/* ========  ======== */


/* ==== botones subir-bajar (pestaña selección) ==== */
/* 
scoresContainer .score: transición amable 
selected li --> gap: espacio entre controles y texto
controls --> gap: espacio entre botones
*/
/*
#scoresContainer .score { transition: transform 0.2s ease; }  

#selected li {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.controls {
  display: flex;
  gap: 3px; 
} 

.controls button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
}

.controls button:hover {
  background-color: rgba(0,0,0,0.08);
}*/
/* ========  ======== */

/* ===== etiquetas cantos seleccionados ===== */
#selected {padding-left: 0;} /* quitar margen */

#selected li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 0px;

  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 3px;

  cursor: pointer;
  transition: all 0.15s ease;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.08);*/

  max-width: 400px; /* ajustar según convenga */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#selected li:hover {
  background-color: #f5f9ff;
  border-color: #90caf9;
}

#selected li.active {
  background-color: #e3f2fd;
  border-color: #2196f3;
}
/*#selected li.active {
  background-color: rgba(33, 150, 243, 0.15);
  border-radius: 6px;
}*/

/*#selected li::before {
  content: "•";
  position: absolute;
  left: 10px;
  color: #666;
  font-size: 18px;
}*/

/* ===== boton quitar ===== */
#btnRemoveSel {
  color: #ee0d0d; 
  font-size: 16px; /* Aquí ajustas el tamaño */
  font-weight: bold;
}
#btnRemoveSel:hover {background-color: rgba(211, 47, 47, 0.1);}
#btnRemoveSel:disabled {color: #aaa;}

/* ===== ajustar tamaño de algunos botones ===== */
#btnZoomSelOut {font-size: 16px}
#btnZoomSelIn {font-size: 16px}
#btnUpSel {font-size: 15px}
#btnDownSel {font-size: 15px}

#btnZoomOut {font-size: 16px}
#btnZoomIn {font-size: 16px}
#btnUp {font-size: 16px}
#btnDowm {font-size: 16px}

/* ===== fijar tamaño etiquetas zoom y tono ===== */

#zoomLabel {
  width: 130px; /* ancho fijo para que el número no mueva los botones */
  text-align: center;
}
#zoomLabelMain {
  width: 130px; /* ancho fijo para que el número no mueva los botones */
  text-align: center;
}
#tonoLabel {
  width: 75px; /* ancho fijo para que el número no mueva los botones */
  text-align: center;
}